/* bg colors */

:root {
  --navy: #071a36;
  --teal: #a2c5b8;
  --grey: #97a79f;
  --green: #435d45;
  --white: #dee7e5;
}

/* react styling */ 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--navy);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--green);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*header component styling */

.header {
  color: var(--green);
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  font-size: 25px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  background-image: url("./assets/paper.jpg");
  position: relative;
}

.header::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-color: var(--grey);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: 0;
}

.header > * {
  z-index: 10;
  position: relative;
}

.search-area {
  display: inline;
  padding-top: 50px;
  position: absolute;
  padding-left: 500px;
}

.search {
  size: 500px;
  height: 30px;
  font-size: 25px;
}

.btn {
  height: 40px;
  color: var(--green);
  font-weight: bold;
  font-size: 20px;
  margin-left: 25px;
  background-color: var(--white);
  border-radius: 12%;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--teal);
}

/* footer component styling */

.footer {
  padding: 10px 0px 10px 15px;
  font-size: 25px;
  background-color: var(--teal);
  color: var(--navy);
  border-top: 3px solid var(--navy);
}

.contact {
  text-decoration: none;
  color: var(--navy);
  list-style: none;
}

.contact-link:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* body styling */ 

.body {
  border-top: 3px solid var(--navy);
  /*background-image: linear-gradient(to right, var(--grey), var(--teal)); */
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.toggleButton {
  height: 40px;
  color: var(--green);
  font-weight: bold;
  font-size: 20px;
  margin-left: 25px;
  background-color: var(--white);
  border-radius: 12%;
  position: absolute;
  right: 0;
  z-index: 11;
}

.toggleButton:hover {
  cursor: pointer;
  background-color: var(--teal);
}

.sidebar {
  border: 5px solid black;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  padding-left: 5px;
  margin-top: 10px;
  background-color: var(--teal);
  background-image: linear-gradient(to right, var(--grey), var(--green));
}

.sidebar-header {
  font-size: 40px;
  text-align: center;
  text-shadow: -1px -1px 0 var(--white), 1px -1px 0 var(--grey), -1px 1px 0 var(--grey), 1px 1px 0 var(--grey);
}

.results {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  float: right;
  position: absolute;
  padding-left: 20px;
}

.resultImage img:hover{
  opacity: .7;
}